.search-bar {
  display: flex;
  justify-content: center;
  margin: 10px;
  margin-left: 90px;
}
.search-container {
  padding: 8px 15px;
  font-size: 15px;
  border-radius: 50px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);

  width: 320px;
  height: 40px;
  border-width: 0px;
  background: #a592f2;
  color: #e7e9f0;
}
.search-container::placeholder {
  color: #e7e9f0;
}
.search-container:focus {
  outline: none;
}
